# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.DS_Store
dist/
coverage/
.vscode/
*.log

# OS
Thumbs.db
desktop.ini

# Editors
.idea/
*.sublime-project
*.sublime-workspace
